* { margin: 0; padding: 0; }

a { text-decoration: none;  }

.clearfix {overflow: auto;}

.wrapper {
	margin: 0 auto;
	width: 1000px;
	height: 1000px;
	background: #7f7676;


}

.top-bar {
	width: 1000px;
	background: #2b2727;
}

.top-bar-links {
	float: left;
}

.top-bar-links ul {
	list-style: none;
	margin: 15px;  
}

.top-bar-links ul li {
	padding: 0 10px;
	display: inline-block;
	border-right: 1px solid white;
}

.top-bar-links ul li:last-child {
	border: none;

}

.top-bar-links ul li a {
	color: white; 
}

.site-search {
	padding: 2px 5px 3px 10px;
	float: right;
	margin: 15px;
	background: white;
	border-radius: 10px;
}

.site-search input {
	float: left;
	border: 0;
}

.site-search button {
	float: right;
	border: none;
	width: 18px;
	height: 18px;
	background: url(../img/1.png);
}

header .logo h1 {
	font-variant: small-caps;
	font-size: 48px;
	font-weight: normal;
	letter-spacing: -1px;
	margin: 0 auto
}

#signup {
	float : center;
	border : 2px;
	border-style: solid;
    border-color: #5a5d63;
    padding:20px;
    background: #f9f7f7 ;
    width: 350px;
    font-size: 25px;
    border-radius: 20px;

}

#right {
	float: right;
	width: 500px;
}

#sign {
	color: blue;
	border-radius: 10px;
	font-size: 20px;
}

#passwordp {
	font-size: 20px;
	border-radius: 10px;
	border-color: #94a0b5;
}

#name {
	font-size: 20px;
	border-radius: 10px;
	border-color: #94a0b5;
}

#email {
	font-size: 20px;
	border-radius: 10px;
	border-color: #94a0b5;
}