nav {
	background: #000;
	text-align: center;
	margin-top: 20px;
	border-radius: 5px;
	background: linear-gradient(#333, #444, #333);
	margin-right: 30px;
	margin-left: 30px;

}

nav ul  {
	list-style: none;
}

nav ul li {
	display: inline;
}

nav ul li a {
	color: #fff;
	text-transform: uppercase;
	margin-top: 10px; margin-bottom: 10px;
	margin-left: 40px; margin-right: 40px;
	text-decoration: none;
	font-size: 20px;
}

nav ul li a:hover {
	color: red;
}

footer {
	width: 1000px;
	margin-top: 350px;
	margin-bottom: 15px;
	float: left; 
	margin-left: 175px;
}

div.footercol{
	width:306.66px;
	float: left;
	margin-left: 15px;
	border-top: 1px solid #000; 

}

div.footercol h4 {
	text-transform: uppercase;
	margin-top: 15px;
	color: #000
	
}

ul.content1 {
	list-style: none;
	margin-top: 10px;
}

ul.content1 li a {
	margin-bottom: 5px;
	display: block;
	border-bottom: 1px solid #aaa;
	text-decoration: none;
	padding-bottom: 5px;
	color: #666;
	font-size: 18px;
}

ul.content1 li a:hover {
	color: red;

}

ul.content1 li a::before {
	content: "";
}